body {
  font-size: 10px;
}
p {
  font-size: 2em;
  color: #878a86;
}

h3 {
  color: #878a86;
  font-weight: bold;
}
a {
  color: $color__link;
}
a:visted {
  color: $color__link-visited;
}
a:hover {
  color: $color__link-hover;
}
