// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// utilities:

.flex-container {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.flex-item-center {
  align-items: center;
}
.flex-item-bottom {
  align-content: flex-end;
}
.flex-align-item-bottom {
  align-items: flex-end;
}
.textbox-grey {
  background-color: #e5e5e5;
  padding: 3.5em;
}
.box-pad {
  padding: 3.5em;
}
.textbox-grey p {
  color: #585858;
}
.textbox-grey h3 {
  color: #585858;
}
.dark-grey-bck {
  background-color: #919191;
}
.dark-grey-bck p {
  font-size: 2.4em;
  padding: 1.1em 1em;
  color: #fff;
}
.dark-grey-bck a {
  color: inherit;
}
.bottom-margin {
  margin-bottom: 3.5em;
}
.bottom-margin-1em {
  margin-bottom: 1em;
}
.top-pad {
  padding-top: 7em;
}
.top-margin {
  margin-top: 5em;
}
.vis-hide {
  visibility: hidden;
}
//header
.navbar {
  font-size: 2.8em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}
.nav-link {
  color: inherit;
}
//home page
.front-quote {
  color: black;
  // max-width: 370px;
  margin: auto;
}
.front-quote p {
  color: inherit;
}
.monthly {
  color: black;
  min-height: 317px;
  display: flex;
  align-items: center;
  background-color: #7ea1f9;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 7em auto 0 auto;
  padding: 4.5em;
  max-width: 65em;
}

.monthly p {
  color: inherit;
  // margin: 0 0 1.5em 0;
  line-height: 1.2;
}
.monthly-row {
  margin-bottom: 6.4em;
}

.monthly p:first-child::first-letter {
  // color: #878a86;
  // font-family: inherit;
  // font-size: 200%;
}
//Board Page
.board-img {
  margin-bottom: 8em;
}
.board-img img {
  max-width: 350px;
}
.board-img .widget-title {
  text-align: center;
  color: black;
  font-size: 1.5em;
  margin-top: .5em;
  font-family: 'Nunito';
}
//concert Seasons
.concert-italic, .concert-last-text {
  max-width: 85%;
}
.concert-info {
  min-height: 7.5em;
}
.concert-last-text {
  font-size: 1.16em;
}
.concert-boxes p {
  color: black;
  font-size: 1.7em;
}
//tickets-purchase
.buy-button {
  text-align: center;
}
.buy-button a {
  font-size: 2.4em;
}
.season-tickets {
  font-family: 'Open Sans Condensed', sans-serif;
  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.3rem;
  }
}
//gallery-row

//conductor
.conductor h3 {
  color: black;
}
//sing
.join-row {
  position: relative;
}
.join-heading {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 6px;
}
.apply-btn {
  font-size: 2em;
}
//apply
.form-wrapper {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
}
.nf-before-form-content {
  display: flex;
  justify-content: flex-end;
}
.nf-form-fields-required {
  font-size: .75em;
}
.submit-wrap .nf-field-element {
  display: flex;
  justify-content: flex-end;
}
.sing-btn {
  background-color: red;
  color: white;
}
//donate
.donate-row {
  margin: auto;
  max-width: 75%;
}
.support-row {
  margin-top: 3.5em;
}
.donate-black-text p {
  color: black;
}
.donate-black-text h4 {
  font-weight: 700;
}
.donate-black-text ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 1em 0;
  padding: 0;
}
.donate-black-text li {
  font-size: 2em;
  padding: 0 2em 0 0;
}
//gallery
.gallery-row {
  margin: auto;
  max-width: 1400px;
}

//LINKS
.logo-img {
  max-width: 200px !important;
}
.logo-parent {
  text-align: center;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
}
.logo_2 {
  position: absolute;
  margin: auto;
  top: 41px;
  left: 0;
  right: 0;
}
.logo_4 {
  max-height: 128px;
  width: auto;
}
.logo_5 {
  max-height: 128px;
  width: auto;
}
.logo-circle {
  max-width: 100px !important;
}
.logo-text {
  color: #6277c9;
  font-size: 2.6em;
  line-height: 1;
}
.logo-text a {
  color: inherit;
}
.theme-credit-name {
  margin: 1em 0;
}
.logo-soc-flex {
  height: auto;
  align-self: center;
}
.logo-row {
  min-height: 100px;
}
.logo-row > div {
  height: auto;
  align-self: stretch !important;
}
.caption {
  font-size: 1.3em;
}
//social media
.social-media-list {
  list-style: none;
  text-align: center;
  display: flex;
  padding: 0;
  margin-bottom: 0;
}
.social-media-item {
  padding-left: 5px;
  padding-right: 5px;
}
.social-media-item > a {
  font-size: 5em;
  color: black;
}
//contact
.contact-row {
  position: relative;
}
.contact-pen {
  max-width: 577px;
  position: absolute;
  bottom: 87px;
  left: 302px;
}
.site-credits {
  font-family: 'helvetica';
  font-size: .5em;
  margin-top: 1em;
}
//bootstrap overrides/menu:
.menu-item {
  display: inline-table;
}
.navbar {
  @media (max-width: 1335px) {
    font-size: 2.54em;
  }
}
//breakpoitn 1320
.dropdown-menu .menu-item a.nav-link:hover {
  background-color: #eceeef;
}
.dropdown-menu {
  font-size: 1em;
}
.dropdown-toggle::after {
    display:none
}
