// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//utilities:

.flex-container {
  display: flex;
}
.logo-container {
  margin: auto;
}
.caption {
  text-align: center;
}
.nav-link {
  color: inherit;
}
