// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

// utilities:

.flex-container {
  display: flex;
}
.flex-center {
  justify-content: center;
}
.textbox-grey {
  background-color: #e5e5e5;
  padding: 3.5em;
}
.bottom-pad {
  padding-bottom: 3.5em;
}
//header


.navbar {
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}
.nav-link {
  color: inherit;
}
//home page
.monthly {
  min-height: 317px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.monthly p {
  margin: 0 0 1.5em 0;
  line-height: 1.2;
  font-size: 1.8em;
}

.monthly p:first-child::first-letter {
  color: #878a86;
  font-family: inherit;
  font-size: 200%;
}

//Board Page
.board-img .widget-title {
  text-align: center;
  color: black;
  font-size: 2em;
  margin-top: .5em;
}

//footer
.footer-social-media-list {
  list-style: none;
  text-align: center;
  display: flex;
  padding: 0;
}

.footer-social-media-item {
  padding-left: 5px;
  padding-right: 5px;
}

.footer-social-media-item > a {
  font-size: 5em;
  color: black;
}

//bootstrap overrides:
.dropdown-menu .menu-item a.nav-link:hover {
  background-color: #eceeef;
}
.dropdown-menu {
  font-size: 1em;
}
